<!doctype html>
<html lang="en">
<head th:replace="fragment/headTag"></head>
<body>
<div class="container">
  <div th:replace="fragment/navbar"></div>
  <div class="row" style="margin-top:150px;">
    <div class="col-md-12 offset-md-0 border rounded">
      <nav class="navbar navbar-light border-bottom">
        <a class="navbar-brand" href="#">主题速查</a>
        <a th:href="'/cheat/edit/subject/'+${subjectId}" class="btn btn-danger btn-sm d-inline" style="margin-left:20px;">进入编辑</a>
      </nav>

      <div style="padding-bottom:15px;padding-top:15px;" class="d-flex justify-content-between align-items-top">
        <div class="card text-center" style="width:360px;">
          <div class="card-header bg-primary text-white border-bottom-0">
            Building an App
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Cras justo odio</span>
                <span>Cras justo odio</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Cras justo odio</span>
                <span>Cras justo odio</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Cras justo odio</span>
                <span>Cras justo odio</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Cras justo odio</span>
                <span>Cras justo odio</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>Cras justo odio</span>
                <span>Cras justo odio</span>
              </li>
            </ul>
          </div><!--cardbody-end-->
        </div><!--card-end-->
      </div>
    </div>
  </div>
</div>
<script>

</script>
</body>
</html>