<!doctype html>
<html lang="en">
<head>
  <title>tyw</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <div th:replace="template :: #navbar"></div>
  <div class="row" style="margin-top:150px;">
    <div class="col-md-6 offset-md-3 border rounded">
      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">主题列表</a>
        <a href="/subject/add" class="btn btn-danger btn-sm">新建主题</a>
      </nav>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/nav/read" class="btn btn-primary btn-sm">导航</a>
          <a href="/cheat/read" class="btn btn-primary btn-sm">速查</a>
          <a href="/card/read" class="btn btn-primary btn-sm">卡片</a>
          <a href="/article/read" class="btn btn-primary btn-sm">文章</a>
          <div class="btn-group float-right">
            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              新增
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">导航</a>
              <a class="dropdown-item" href="#">速查</a>
              <a class="dropdown-item" href="#">卡片</a>
              <a class="dropdown-item" href="#">文章</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary btn-sm">导航</a>
          <a href="#" class="btn btn-primary btn-sm">速查</a>
          <a href="#" class="btn btn-primary btn-sm">卡片</a>
          <a href="#" class="btn btn-primary btn-sm">文章</a>
          <div class="btn-group float-right">
            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              新增
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">导航</a>
              <a class="dropdown-item" href="#">速查</a>
              <a class="dropdown-item" href="#">卡片</a>
              <a class="dropdown-item" href="#">文章</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary btn-sm">导航</a>
          <a href="#" class="btn btn-primary btn-sm">速查</a>
          <a href="#" class="btn btn-primary btn-sm">卡片</a>
          <a href="#" class="btn btn-primary btn-sm">文章</a>
          <div class="btn-group float-right">
            <button type="button" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              新增
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">导航</a>
              <a class="dropdown-item" href="#">速查</a>
              <a class="dropdown-item" href="#">卡片</a>
              <a class="dropdown-item" href="#">文章</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <nav aria-label="...">
        <ul class="pagination pagination-sm">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<script>

</script>
</body>
</html>