<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
    <style>
        Header {height:30px;background-color:#f8f8f9;}
        Content {height:300px;background-color:#FFF;}
        Footer {height:30px;background-color:#f8f8f9;}
    </style>
</head>
<body>
<div id="app">
    <row>
        <i-col span="8" offset="8">
            <Layout>
                <Header></Header>
                <Content>
                    <button-group>
                        <i-button type="success" size="default">subject</i-button>
                        <i-button type="success" size="default">navigation</i-button>
                        <i-button type="success" size="default">carsheet</i-button>
                        <i-button type="success" size="default">cheatsheet</i-button>
                        <i-button type="success" size="default">article</i-button>
                    </button-group>
                </Content>
                <Footer></Footer>
            </Layout>
        </i-col>
    </row>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            visible: false
        },
        methods: {
            show: function () {
                this.visible = true;
            }
        }
    })
  </script>
</body>
</html>