<!doctype html>
<html lang="en">
<head th:replace="fragment/headTag"></head>
<body>
<div class="container">
  <div th:replace="fragment/navbar"></div>
  <div class="row" style="margin-top:150px;">
    <div class="col-md-6 offset-md-3 border rounded">
      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">主题导航</a>
      </nav>

      <div style="padding-bottom:15px;">
        <button type="button" class="btn btn-primary btn-sm">Primary <span class="badge badge-light">4</span></button>
        <button type="button" class="btn btn-primary btn-sm">Primary <span class="badge badge-light">4</span></button>
        <button type="button" class="btn btn-primary btn-sm">Primary</button>
        <button type="button" class="btn btn-link">Link</button>
        <button type="button" class="btn btn-link">Link</button>
        <button type="button" class="btn btn-link">Link</button>
        <div class="dropdown">
          <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button <span class="badge badge-light">4</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

</script>
</body>
</html>